@page
@model BookwormsOnline.Pages.errors.Error403Model
@{
    ViewData["title"] = "Access Forbidden";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 80px;
            color: #e74c3c;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        #a {
            color: #3498db;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container" style="text-align: center; color: #111;">
        <h1 style="font-size: 150px; color: #000; margin-bottom: 0px;">403</h1>
        <h2>Sorry! Forbidden!</h2>
        <p>Access to this resource on the server is denied.</p>
        <p>You do not have permission to view this page with the credentials you provided.</p>
        <p>Return to the <a href="/">homepage</a>.</p>
    </div>
</body>